.bodydetail {
  padding-bottom: 100px;
}

.containerdetail {
  padding-top: 50px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.cold1 {
  padding-top: 0px;
  padding-right: 250px;
}

p {
  width: 150px;
}

.imgd {
  width: 400px;
  height: 400px;
  margin-right: 50px;
}

.cold2 {
  padding-top: 55px;
  /* width: 5px; */
}

.btn1 {
  width: 150px;
}
