.containerdetail {
  padding-top: 60px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.cold1 {
  padding-top: 40px;
  padding-right: 250px;
}

p {
  width: 150px;
}

.imgd {
  width: 250px;
  height: 250px;
}

.cold2 {
  padding-top: 35px;
  /* width: 5px; */
}

.btn1 {
  width: 150px;
}
