.containerep {
  padding-top: 30px;
  padding-bottom: 50px;
  justify-content: center;
  display:flex
}

.nameep {
  padding-bottom: 20px;
  width: 350px;
}

.tellep {
  padding-bottom: 20px;
  width: 350px;
}

.addressep {
  padding-bottom: 20px;
  width: 350px;
}

.mailep {
  padding-bottom: 20px;
  width: 350px;
}

.pwep {
  padding-bottom: 30px;
  width: 350px;
}

.btnep {
  margin-bottom: 40px;
  margin-left: 70px;
  width: 200px;
}